#projects {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  .card {
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 17.65rem;
  }
}