$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap";

@import "commons";
@import "~modules/home/style/index";
@import "~modules/projects/style/index";
@import "~modules/publications/style/index";

body {
  padding-top: 3.5rem;

  .jumbotron {
    margin-bottom: -6rem;

    .container {
      bottom: 0;
    }
  }
}