.banner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .show {
    opacity: 1;
    transition: opacity ease-in-out 4s;
  }

  &-container {
    position: absolute;
    opacity: 0;
  }

  &-thumbs {
    position: absolute;
  }

  .banner-container, .banner-thumbs {
    margin-top: 40px;
  }
}