#profile {
  @include media-breakpoint-up(md) {
    .card-body {
      padding: 0;

      p {
        padding: 1rem 0.5rem 0;
        margin: 0;
      }
    }
  }

  .profile-pic {
    width: 12rem;
    float: left;
    margin-right: 1rem;

    @include media-breakpoint-down(md) {
      width: 50%;
      margin: 0 auto 2rem auto;
      display: block;
      float: none;

      @include media-breakpoint-down(sm) {
        width: 70%;
      }
    }

    img {
      width: 100%;
    }
  }
}
